@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');
@media screen and (max-width: 1400px){
	main .container{
		width: 992px;
	}
	section .container{
		width: 800px;
	}
}
@media screen and (max-width: 992px){
	html{
		font-size: 14px;
	}
	main .container{
		width: 768px;
	}
}
@media screen and (max-width: 768px){
	html{
		font-size: 13px;
	}
	main .container{
		width: 576px;
	}
	section .container{
		width: 400px;
	}
}
@media screen and (max-width: 576px){
	html{
		font-size: 12px;
	}
	main .container{
		width: 400px;
	}
	section .container{
		width: 360px;
	}
}
@media screen and (max-width: 400px){
	html{
		font-size: 11px;
	}
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a, a:link, a:visited{
	color: inherit;
	text-decoration: none;
}
li{
	list-style: none;
}
.container{
	width: 1400px;
	margin: 0 auto;
}
header{
	position: fixed;
	color: white;
	top: 0;
	z-index: 1;
	width: 100%;
	padding: 1rem;
}
header.active{
	background-color: rgba(0, 0, 0);
	animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
header button{
	background: transparent;
	border: 0;
	cursor: pointer;
}
header h1 button{
	font-size: 2rem;
	font-weight: bold;
	color: white;
	text-align: center;
}
header h1 button:hover{
	color: aqua;
}
header h1 button strong{
	color: #F55C10;
}
header h2 span{
	color: cyan;
}
header nav ul{
	display: flex;
}
header nav ul li{
	padding: 10px;
}
header nav ul li button{
	font-size: 1.2rem;
	color: white;
}
header nav ul li button:hover{
	color: aqua;
}
main{
	width: 100%;
	height: 100vh;
	color: white;
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/ModelHouse-2.png") center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
main h1 button:hover{
	color: aqua;
}
main h4{
	font-size: 2rem;
}
main h2{
	font-size: 3rem;
	margin: 2rem 0;
	letter-spacing: 3px;
}
main h2 span{
	color: greenyellow;
}
main p{
	max-width: 500px;
	margin: 0 auto;
	font-size: 1.25rem;
}
main button.mouse{
	background-color: transparent;
	border: none;
	color: white;
	font-size: 2rem;
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50X);
	animation: upDown 1s ease-in-out infinite;
	cursor: pointer;
}
@keyframes upDown{
	0%{
		bottom: 1rem;
	}
	50%{
		bottom: 1.5rem;
	}
	100%{
		bottom: 1rem;
	}
}
main h2 span::after{
	content: "";
	height: 40px;
	width: 3px;
	background-color: #fff;
	display: inline-block;
	animation: blink .7s ease-in-out infinite;
}
@keyframes blink{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
main h2{
  	font-family: "Do Hyeon", sans-serif;
	font-weight: 400;
  	font-style: normal;
}
section{
	font-family: "Poppins", sans-serif;
	padding: 5rem 0;
}
section:nth-child(2n){
	background-color: #f8f8f8;
}
section .title h2{
	font-size: 3rem;
}
section .title p{
	font-size: 1.15rem;
}
section .about-self::after{
	content: "";
	clear: both;
	display: block;
}
section .about-self .left{
	width: 50%;
	float: left;
}
section .about-self .left img{
	max-width: 100%;
}
section .about-self .right{
	width: 50%;
	float: left;
	padding: 0 2rem;
}
section .about-self .right h3{
	font-size: 2.25rem;
	margin-bottom: 1rem;
}
section .about-self .right h3 strong{
	color: #ed4848;
}
section .about-self .right p{
	font-size: 1.25rem;
	margin: 1rem 0;
}
section .do-me::after{
	content: "";
	display: block;
	clear: both;
}
section .do-me .do-inner{
	background-color: #f8f8f8;
	width: 100%;
	padding: 1rem 1rem 1.5rem 1rem;
	float: left;
	margin-bottom: 3rem;
	border: 1px solid #ccc;
}
section .do-me .do-inner:hover{
	background-color: lightcoral;
	color: white;
}
section .do-me .do-inner:hover h3{
	color: black;
}
section .do-me .do-inner:last-child{
	margin-right: 0;
}
section .do-me .do-inner .image{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}
section .do-me .do-inner .image img{
	width: 100%;
}
section .do-me .do-inner .image img:nth-child(1){
	grid-column: 1/3;
	grid-row: 1/3;
}
section .do-me .do-inner .image img:nth-child(2){
	grid-column: 3/4;
	grid-row: 1/2;
}
section .do-me .do-inner .image img:nth-child(3){
	grid-column: 3/4;
	grid-row: 2/3;
}
section .do-me .do-inner .image img:nth-child(4){
	grid-column: 1/2;
	grid-row: 3/4;
}
section .do-me .do-inner .image img:nth-child(5){
	grid-column: 2/3;
	grid-row: 3/4;
}
section .do-me .do-inner .image img:nth-child(6){
	grid-column: 3/4;
	grid-row: 3/4;
}
section .do-me .do-inner h3{
	color: #ff6a6a;
	margin: 0.5rem 0;
	display: block;
	font-size: 1.75rem;
}
section .do-me .do-inner p{
	font-size: 1.25rem;
}
.bg{
	background: url("images/background.jpg") center center;
	background-size: cover;
	background-attachment: fixed;
	height: 650px;
}
section .process-me::after{
	content: "";
	display: block;
	clear: both;
}
section .process-me .process-inner{
	width: 60%;
	margin-right: 5%;
	padding: 1rem;
	float: left;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	margin-bottom: 3rem;
}
section .process-me .process-inner:nth-child(2n){
	margin-right: 0;
}
section .process-me .process-inner img{
	width: 100%;
	display: block;
}
section .process-me .process-inner strong{
	color: #ff6a6a;
	margin: 0.5rem 0;
	display: block;
	font-size: 1.2rem
}
section .process-me .process-inner h3{
	font-size: 1.5rem;
}
section .contact-me::after{
	content: "";
	display: block;
	clear: both;
}
section .contact-me .contact-inner .left{
	width: 30%;
	float: left;
}
section .contact-me .contact-inner .right{
	float: left;
	width: 65%;
	margin-left: 5%;
	margin-bottom: 2rem;
	border: 1px solid #ccc;
	padding: 1rem;
}
section .contact-me .contact-inner .left .card{
	border: 1px solid #ccc;
	padding: 1rem;
	display: flex;
	align-items: center;
	margin-bottom: 1.25rem;
}
section .contact-me .contact-inner .left .card .icon i{
	font-size: 2rem;
	margin-right: 15px;
}
section .contact-me .contact-inner .right .form-group{
	margin-bottom: 1.25rem;
}
section .contact-me .contact-inner .right .form-group label{
	display: block;
	margin-bottom: 0.85rem;
}
section .contact-me .contact-inner .right .form-group input{
	padding: 0.625rem;
	width: 100%;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 10px;
}
section .contact-me .contact-inner .right .form-group input:focus{
	border: 1px solid #719ece;
	box-shadow: 0 0 10px #719ece;
}
section .contact-me .contact-inner .right .form-group textarea{
	height: 300px;
	width: 100%;
	resize: none;
	border: 1px solid #ccc;
	border-radius: 10px;
}
section .contact-me .contact-inner .right .form-group textarea:focus{
	outline: none;
	border: 1px solid #719ece;
	box-shadow: 0 0 10px #719ece;
}
section .contact-me .contact-inner .right button{
	width: 100%;
	padding: 1rem;
	font-size: 1.25rem;
	background-color: #f78b00;
	border: none;
	color: white;
}
section .contact-me .contact-inner .right button:disabled{
	background-color: #ccc;
}